<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net45" />
  <package id="Cyotek.Drawing.BitmapFont" version="2.0.4" targetFramework="net472" />
  <package id="EmguCV" version="3.1.0.1" targetFramework="net45" />
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net472" />
  <package id="FreeSpire.PDFViewer" version="7.6.0" targetFramework="net472" />
  <package id="GemBox.Pdf" version="17.0.1371" targetFramework="net472" />
  <package id="HelixToolkit" version="2.24.0" targetFramework="net472" />
  <package id="HelixToolkit.Wpf" version="2.24.0" targetFramework="net472" />
  <package id="HelixToolkit.Wpf.SharpDX" version="2.24.0" targetFramework="net472" />
  <package id="LiteDB" version="5.0.0-alpha" targetFramework="net45" />
  <package id="MaterialDesignColors" version="1.2.3-ci948" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="3.1.0-ci948" targetFramework="net45" />
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net472" />
  <package id="MIConvexHull" version="1.1.19.1019" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="7.0.1" targetFramework="net472" />
  <package id="Microsoft.HLSL.CSharpVB" version="1.0.2" targetFramework="net45" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.39" targetFramework="net45" />
  <package id="MoonPdfLib-x64" version="0.3.0" targetFramework="net45" />
  <package id="MouseKeyboardActivityMonitor" version="4.0.5150.10665" targetFramework="net472" />
  <package id="OpenTK" version="1.1.2225.0" targetFramework="net45" />
  <package id="OpenTK.GLControl" version="1.1.2225.0" targetFramework="net45" />
  <package id="Pkcs11Interop" version="5.1.1" targetFramework="net45" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="SharpDX" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net45" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net45" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net472" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net472" />
</packages>